.App {
  text-align: center;
  background-color: black;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid white;
}

th,
td {
  border: 2px solid white;
  padding: 8px;
  text-align: left;
}

img {
  max-width: 50px;
  max-height: 50px;
}
